* {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: white;
 
}

.container {
  display: grid;
  grid-template-columns: 1fr 610px 1fr;

}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter p {
color: white;
font-size: 64px;
}

.main {
  background-image: url("./assets/bg.jpeg");
  
}
.square {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.square:hover {
  cursor: pointer;
}

.gameBoard {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
}

#submit {
  width: 400px;
  height: 30px;
  font-size: 24px;
  
}

#submit:hover {
  cursor: pointer;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 16px 0;
}